@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is build Version 2 of .NET Core Container app hosted on Azure WEB APP</p>
</div>
